div#page{
   border: 1px solid #ccc;
   width:  950px;
   margin: 0 auto;
   padding:0;
   background: white;
   text-align: center;
   }
   div#header {
    padding: 0;
    margin: 0;
    color: white;
    background-color: white;
    height: 50px;
   }
   .clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }
    .clearfix {display: inline-table;}
    * html .clearfix {
     height:1%;
     }
     *+html .clearfix {
       height:1%;
     }
     .clearfix {
      display:block;
     }
	 div#content {
     position: relative;
     width: 701px;
     margin: 0 auto 20px auto;
     padding: 0;
     text-align: left;
     }
	 div#content {
	width: 100%;
	margin-top: 40px;
      }
	 div#main {
      width: 100%;
      padding-top: 28px;
      }
      body {
      text-align: left;
      font-family: Arial, sans-serifarial, Verdana, Helvetica;
      font-size: 14px;
      line-height: 1.5;
      color: black;
      }
	  div#links{
      border: 1px solid #ccc;
      width:  850px;
      height: 22px;
      margin: 0 auto;
      padding:0;
      text-align: left;
      }
	  div#footer {
      color: black;
      background-color: white;  
      }
      div#footer p {
      font-size: 0.8em;
      margin: 0;
      padding: 15px;
      }
	    div#site_nav ul {
    width: auto; 
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1em;
    list-style: none;
    }
    div#site_nav li {
    display: inline;
    list-style: none;    
    margin: 0;
    padding: 3px 10px 3px 10px;
    line-height: 1em;
    border-right: 1px solid #aaa;
    }
    div#site_nav li.last {
    border-right: none;
    }
	div#copyright {
    margin: 10px;
    }
